registry "https://registry.npmmirror.com"
sass_binary_site "https://npmmirror.com/mirrors/node-sass/"
electron_mirror "https://npmmirror.com/mirrors/electron/"
chromedriver_cdnurl "https://npmmirror.com/mirrors/chromedriver/"
